<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/_login}">

<th:block layout:fragment="conteudo-title">
	<title>DevWeb-Tecnologia (Login)</title>
</th:block>

<th:block layout:fragment="conteudo-body">

	<input id="tab-2" type="radio" name="tab" class="sign-up" checked>
	<label for="tab-2" class="tab">Registrar</label>

	<div class="login-form">
		<form th:object="${user}" th:action="@{/registro}" method="POST">
			<div class="sign-up-htm">
				<div class="hr-linha"></div>


				<div class="alert alert-danger"
					th:if="${#bools.isTrue(errorMessageEmail)}">
					<strong th:utext="${errorMessageEmail}"></strong>
				</div>

				<div th:if="${#bools.isTrue(errorMessage)}"
					class=" alert alert-danger">
					<!--/*@thymesVar id="errorMessage" type="org.thymeleaf"*/-->
					<div th:each="erro : ${errorMessage}">
						<span th:utext="${erro}"></span>
					</div>
				</div>

				<div class="group">

					<input type="text" th:field="*{nome}" placeholder="Nome" class="input" />
				</div>

				<div class="group">
					<label th:if="${#fields.hasErrors('ultimoNome')}"
						th:errors="*{ultimoNome}"></label> <input type="text"
						th:field="*{ultimoNome}" placeholder="Sobrenome" class="input" />
				</div>

				<div class="group">
					<label th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></label>
					<input type="text" th:field="*{cpf}"
						placeholder="CPF - Apenas números" class="input" />
				</div>

				<div class="group">
					<label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></label>
					<input type="text" th:field="*{login}" placeholder="nome.ultimonome"
						class="input" />

				</div>

				<div class="group">
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
					<input type="text" th:field="*{email}" placeholder="E-mail"
						class="input" />

				</div>

				<div class="group">
					<label th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></label> <input type="password"
						th:field="*{password}" placeholder="Senha" class="input" />

				</div>


				<!-- 				<div class="group"> -->
				<!-- 					<input id="user" type="email" class="input" placeholder="E-mail" -->
				<!-- 						autofocus="autofocus" required="required"> -->
				<!-- 				</div> -->
				<!-- 				<div class="group"> -->
				<!-- 					<input id="pass" type="password" class="input" placeholder="Senha" -->
				<!-- 						data-type="password" required="required"> -->
				<!-- 				</div> -->
				<!-- 				<div class="group"> -->
				<!-- 					<input id="pass" type="password" class="input" -->
				<!-- 						placeholder="Repita a senha" data-type="password" -->
				<!-- 						required="required"> -->
				<!-- 				</div> -->
				<!-- 				<div class="group"> -->
				<!-- 					<input id="pass" type="text" pattern="[0-9]+$" min="11" -->
				<!-- 						maxlength="11" class="input" placeholder="CPF - Apenas números" -->
				<!-- 						required="required"> -->
				<!-- 				</div> -->
				<div class="group">
					<button type="submit" class="button">Registrar</button>
				</div>
				<div class="hr"></div>

				<div class="foot-lnk">
					<a th:href="@{/login}">Já é Registrado?</a>
				</div>
			</div>

		</form>
	</div>

</th:block>

</html>
