<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/_login}">

<th:block layout:fragment="conteudo-title">
	<title>DevWeb - Tecnologia (Login)</title>
</th:block>

<th:block layout:fragment="conteudo-body">

	<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
	<label for="tab-1" class="tab">Login</label>

	<div class="login-form">
		<form th:object="${user}" th:action="@{/login}" method="POST">
			<div class="sign-in-htm">
				<div class="hr-linha"></div>
				<div class="group">
					<input id="user" name="email" type="email" class="input" placeholder="E-mail"
						autofocus="autofocus" required="required">
				</div>
				<div class="group">
					<input id="pass" name="password" type="password" class="input" placeholder="Senha"
						data-type="password" required="required">
				</div>
				<div class="group">
					<div class="row">
						<div class="col-sm-6">
							<input id="check" type="checkbox" name="remember-me" class="check" checked>
							<label for="check"><span class="icon"></span> Lembrar?</label>
						</div>
						<div class="col-sm-6 ">
							<button type="submit" class="button">Entrar</button>
						</div>
					</div>
				</div>

				<div class="foot-lnk">
					<a th:href="@{/reset}">Esqueceu a senha?</a>
				</div>
				
				<div class="hr"></div>
				<div class="foot-lnk">
					<a th:href="@{/registro}">Não possui cadastro? Registre-se</a>
				</div>
				
				<div class="hr"></div>
				
				
				<div class="alert-success">
					<span th:utext="${successMessage}"></span>
				</div>
				
				<div class="hr-linha alert-danger"
					th:if="${#bools.isTrue(param.error)}">
					<strong>O usuário e/ou senha não conferem!<span
						th:utext="${errorNovoUsuario}"></span></strong>
				</div>
				
				<div class="hr-linha alert-danger"
					th:if="${#bools.isTrue(errorMessageEmail)}">
						<strong th:utext="${errorMessageEmail}" ></strong>
				</div>
								
			</div>
		</form>
	</div>
</th:block>

</html>
