<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/_login}">

<th:block layout:fragment="conteudo-title">
	<title>DevWeb-Tecnologia (Reset)</title>
</th:block>

<th:block layout:fragment="conteudo-body">

	<input id="tab-3" type="radio" name="tab" class="reset" checked>
	<label for="tab-3" class="tab">Resetar Senha</label>

	<div class="login-form">
		<form th:object="${user}" th:action="@{/reset}" method="POST">
			<div class="reset-htm">
				<div class="hr-linha"></div>
				<a>Informe seu e-mail e enviaremos um link para você resetar sua
					senha.</a>
				<div class="hr-linha"></div>
				<div class="group">
					<input id="user" name="email" type="email" class="input"
						placeholder="E-mail" autofocus="autofocus" required="required">
				</div>

				<div class="group">
					<button type="submit" class="button">Resetar Senha</button>
				</div>

			    <div class="hr-linha"></div>
				<div class="hr-linha alert-danger"
					th:if="${#bools.isTrue(errorMessageEmail)}">
					<strong th:utext="${errorMessageEmail}"></strong>
				</div>

				<div class="hr"></div>
				<div class="foot-lnk">
					<a th:href="@{/login}">Ir para Login</a>
				</div>

			</div>

		</form>

	</div>

</th:block>

</html>
