<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{admin/layout/_dashboard-blank}">
<head>

	<!-- Adicionando JQuery -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
	
    <!-- Adicionando Javascript -->
    <script type="text/javascript" >

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#logradouro").val("");
                $("#complemento").val("");
                $("#bairro").val("");
                $("#localidade").val("");
                $("#uf").val("");
                $("#unidade").val("");
                $("#ibge").val("");
                $("#gia").val("");
                
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
		                $("#logradouro").val(" ... ");
		                $("#complemento").val(" ... ");
		                $("#bairro").val(" ... ");
		                $("#localidade").val(" ... ");
		                $("#uf").val(" ... ");
		                $("#unidade").val(" ... ");
		                $("#ibge").val(" ... ");
		                $("#gia").val(" ... ");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#logradouro").val(dados.logradouro);
                                $("#complemento").val(dados.complemento);
                                $("#bairro").val(dados.bairro);
                                $("#localidade").val(dados.localidade);                               
                                $("#uf").val(dados.uf);
                                $("#unidade").val(dados.unidade);
                                $("#ibge").val(dados.ibge);
                                $("#gia").val(dados.gia);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>
    </head>


<th:block layout:fragment="content-wrapper">

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>Perfil de usuário</h1>
			<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
				<li><a href="#">Perfil de usuário</a></li>
				<li class="active">Cadastro</li>
			</ol>
		</section>

		<!-- Main content -->
		<section class="content">

			<div class="row">
				<div class="col-md-3">

					<!-- Profile Image -->
					<div class="box box-primary">
						<div class="box-body box-profile">
							<img class="profile-user-img img-responsive img-circle"
								src="../../admin/dist/img/user4-128x128.jpg"
								alt="User profile picture">

							<h3 class="profile-username text-center">Nina Mcintire</h3>

							<p class="text-muted text-center">Software Engineer</p>

							<ul class="list-group list-group-unbordered">
								<li class="list-group-item"><b>Followers</b> <a
									class="pull-right">1,322</a></li>
								<li class="list-group-item"><b>Following</b> <a
									class="pull-right">543</a></li>
								<li class="list-group-item"><b>Friends</b> <a
									class="pull-right">13,287</a></li>
							</ul>

							<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->

					<!-- About Me Box -->
					<div class="box box-primary">
						<div class="box-header with-border">
							<h3 class="box-title">About Me</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<strong><i class="fa fa-book margin-r-5"></i> Education</strong>

							<p class="text-muted">B.S. in Computer Science from the
								University of Tennessee at Knoxville</p>

							<hr>

							<strong><i class="fa fa-map-marker margin-r-5"></i>
								Location</strong>

							<p class="text-muted">Malibu, California</p>

							<hr>

							<strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

							<p>
								<span class="label label-danger">UI Design</span> <span
									class="label label-success">Coding</span> <span
									class="label label-info">Javascript</span> <span
									class="label label-warning">PHP</span> <span
									class="label label-primary">Node.js</span>
							</p>

							<hr>

							<strong><i class="fa fa-file-text-o margin-r-5"></i>
								Notes</strong>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
								Etiam fermentum enim neque.</p>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
				<div class="col-md-9">
					<div class="nav-tabs-custom">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#cadastro" data-toggle="tab">Cadastro</a></li>
							<li><a href="#activity" data-toggle="tab">Activity</a></li>
							<li><a href="#timeline" data-toggle="tab">Timeline</a></li>
						</ul>
						<div class="tab-content">
							<div class="active tab-pane" id="cadastro">
								<form th:object="${segUsuario}" th:action="@{/profile}"
									method="POST" class="form-horizontal">

									<br><div class="alert-success">
										<span th:utext="${successMessage}"></span>
									</div><br>

									<div th:if="${#bools.isTrue(errorMessage)}"
										class=" alert alert-danger">
										<!--/*@thymesVar id="errorMessage" type="org.thymeleaf"*/-->
										<div th:each="erro : ${errorMessage}">
											<span th:utext="${erro}"></span>
										</div>
									</div>

									<div class="form-group">
										<label for="inputName" class="col-sm-2 control-label">Nome</label>

										<div class="col-sm-4">
											<input type="text" th:field="*{nome}" class="form-control"
												id="inputName" placeholder="Nome" autofocus="autofocus"
												required="required">
										</div>

										<label for="inputLastName" class="col-sm-2 control-label">Último
											nome</label>

										<div class="col-sm-4">
											<input type="text" th:field="*{ultimoNome}"
												class="form-control" id="inputLastName"
												placeholder="Último nome" autofocus="autofocus"
												required="required">
										</div>

									</div>

									<div class="form-group">
										<label for="inputEmail" class="col-sm-2 control-label">Email</label>

										<div class="col-sm-10">
											<input type="email" th:field="*{email}" class="form-control"
												id="inputEmail" placeholder="Email" required="required">
										</div>

									</div>

									<div class="form-group">
										<label for="inputCpf" class="col-sm-2 control-label">CPF</label>


										<div class="col-sm-4">
											<input type="text" th:field="*{cpf}" class="form-control"
												id="inputCpf" placeholder="C.P.F - Ex. 99988877766"
												required="required">
										</div>
										
									   <label for="inputProfissao" class="col-sm-2 control-label">Profissão</label>

										<div class="col-sm-4">
											<input type="text" th:field="*{usuarioProfile.profissao}"
												class="form-control" id="inputProfissao"
												placeholder="Profissão" required="required">
										</div>

									</div>
									
									<div class="form-group">
				
									 <label for="cep" class="col-sm-2 control-label">CEP.</label>
									
										<div class="col-sm-4">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.cep}"
												class="form-control" id="cep" placeholder="Apenas números! Ex: 66655000"
												required="required" data-inputmask='"mask": "99999-999"' data-mask>
											
										</div>
										<div class="col-sm-6">
<!-- 											<button type="submit" class="btn btn-primary btn-sm"> -->
<!-- 											<span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> -->
                                                <span>Digite o CEP e ao sair do campo o endereço será completado. Pode utilizar a tecla TAB após digitar o CEP.</span>

										</div>
									
									</div>

									<div class="form-group">
										<label for="uf" class="col-sm-2 control-label">UF</label>

										<div class="col-sm-4">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.uf}"
												class="form-control" id="uf" placeholder="UF" required="required">
										</div>
									
										<label for="localidade" class="col-sm-2 control-label">Cidade</label>

										<div class="col-sm-4">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.localidade}"
												class="form-control" id="localidade" placeholder="Cidade" required="required">
										</div>
									</div>

									<div class="form-group">
										<label for="logradouro" class="col-sm-2 control-label">Logradouro</label>

										<div class="col-sm-8">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.logradouro}"
												class="form-control" id="logradouro"
												placeholder="Logradouro" required="required">
										</div>

										<div class="col-sm-2">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.numero}"
												class="form-control" id="inputNumero" placeholder="Número" required="required">
										</div>

									</div>
									
									<div class="form-group">
										<label for="bairro" class="col-sm-2 control-label">Bairro</label>


										<div class="col-sm-4">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.bairro}"
												class="form-control" id="bairro" placeholder="Bairro" required="required">
										</div>


										<label for="ibge" class="col-sm-2 control-label">Cod. Ibge</label>

										<div class="col-sm-4">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.ibge}"
												class="form-control" id="ibge" placeholder="Cod. IGBE" required="required">
										</div>
									</div>
									
									<div class="form-group">
										<label for="complemento" class="col-sm-2 control-label">Complemento</label>

										<div class="col-sm-10">
											<input type="text" th:field="*{usuarioProfile.usuarioEndereco.complemento}"
												class="form-control" id="complemento"
												placeholder="Complemento ou Ponto de referência" required="required">
										</div>
									</div>

									<div class="form-group">
	
										<label for="inputCelular" class="col-sm-2 control-label">Celular</label>

										<div class="col-sm-4">
											<input type="text" th:field="*{usuarioProfile.celular}"
												class="form-control" id="inputCelular" placeholder="Celular" required="required">
										</div>
										
										<label for="inputTelefoneFixo" class="col-sm-2 control-label">Telefone Fixo</label>

										<div class="col-sm-4">
											<input type="text" data-inputmask='"mask": "(99) 9999-9999"' data-mask th:field="*{usuarioProfile.telefoneFixo}"
												class="form-control" id="inputTelefoneFixo"
												placeholder="Telefone Fixo" >
										</div>
										
									</div>

<!-- 									<div class="form-group"> -->
<!-- 										<div class="col-sm-offset-2 col-sm-10"> -->
<!-- 											<div class="checkbox"> -->
<!-- 												<label> <input type="checkbox"> Concordo com -->
<!-- 													os <a href="#">termos e condições.</a> -->
<!-- 												</label> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-danger">Salvar</button>
										</div>
									</div>
								</form>
							</div>
							<!-- /.tab-pane -->

							<div class="tab-pane" id="activity">
								<!-- Post -->
								<div class="post">
									<div class="user-block">
										<img class="img-circle img-bordered-sm"
											src="../../admin/dist/img/user1-128x128.jpg" alt="user image">
										<span class="username"> <a href="#">Jonathan Burke
												Jr.</a> <a href="#" class="pull-right btn-box-tool"><i
												class="fa fa-times"></i></a>
										</span> <span class="description">Shared publicly - 7:30 PM
											today</span>
									</div>
									<!-- /.user-block -->
									<p>Lorem ipsum represents a long-held tradition for
										designers, typographers and the like. Some people hate it and
										argue for its demise, but others ignore the hate as they
										create awesome tools to help create filler text for everyone
										from bacon lovers to Charlie Sheen fans.</p>
									<ul class="list-inline">
										<li><a href="#" class="link-black text-sm"><i
												class="fa fa-share margin-r-5"></i> Share</a></li>
										<li><a href="#" class="link-black text-sm"><i
												class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
										<li class="pull-right"><a href="#"
											class="link-black text-sm"><i
												class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
									</ul>

									<input class="form-control input-sm" type="text"
										placeholder="Type a comment">
								</div>
								<!-- /.post -->

								<!-- Post -->
								<div class="post clearfix">
									<div class="user-block">
										<img class="img-circle img-bordered-sm"
											src="../../admin/dist/img/user7-128x128.jpg" alt="User Image">
										<span class="username"> <a href="#">Sarah Ross</a> <a
											href="#" class="pull-right btn-box-tool"><i
												class="fa fa-times"></i></a>
										</span> <span class="description">Sent you a message - 3 days
											ago</span>
									</div>
									<!-- /.user-block -->
									<p>Lorem ipsum represents a long-held tradition for
										designers, typographers and the like. Some people hate it and
										argue for its demise, but others ignore the hate as they
										create awesome tools to help create filler text for everyone
										from bacon lovers to Charlie Sheen fans.</p>

									<form class="form-horizontal">
										<div class="form-group margin-bottom-none">
											<div class="col-sm-9">
												<input class="form-control input-sm" placeholder="Response">
											</div>
											<div class="col-sm-3">
												<button type="submit"
													class="btn btn-danger pull-right btn-block btn-sm">Send</button>
											</div>
										</div>
									</form>
								</div>
								<!-- /.post -->

								<!-- Post -->
								<div class="post">
									<div class="user-block">
										<img class="img-circle img-bordered-sm"
											src="../../admin/dist/img/user6-128x128.jpg" alt="User Image">
										<span class="username"> <a href="#">Adam Jones</a> <a
											href="#" class="pull-right btn-box-tool"><i
												class="fa fa-times"></i></a>
										</span> <span class="description">Posted 5 photos - 5 days ago</span>
									</div>
									<!-- /.user-block -->
									<div class="row margin-bottom">
										<div class="col-sm-6">
											<img class="img-responsive"
												src="../../admin/dist/img/photo1.png" alt="Photo">
										</div>
										<!-- /.col -->
										<div class="col-sm-6">
											<div class="row">
												<div class="col-sm-6">
													<img class="img-responsive"
														src="../../admin/dist/img/photo2.png" alt="Photo"> <br>
													<img class="img-responsive"
														src="../../admin/dist/img/photo3.jpg" alt="Photo">
												</div>
												<!-- /.col -->
												<div class="col-sm-6">
													<img class="img-responsive"
														src="../../admin/dist/img/photo4.jpg" alt="Photo"> <br>
													<img class="img-responsive"
														src="../../admin/dist/img/photo1.png" alt="Photo">
												</div>
												<!-- /.col -->
											</div>
											<!-- /.row -->
										</div>
										<!-- /.col -->
									</div>
									<!-- /.row -->

									<ul class="list-inline">
										<li><a href="#" class="link-black text-sm"><i
												class="fa fa-share margin-r-5"></i> Share</a></li>
										<li><a href="#" class="link-black text-sm"><i
												class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
										<li class="pull-right"><a href="#"
											class="link-black text-sm"><i
												class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
									</ul>

									<input class="form-control input-sm" type="text"
										placeholder="Type a comment">
								</div>
								<!-- /.post -->
							</div>
							<!-- /.tab-pane -->
							<div class="tab-pane" id="timeline">
								<!-- The timeline -->
								<ul class="timeline timeline-inverse">
									<!-- timeline time label -->
									<li class="time-label"><span class="bg-red"> 10
											Feb. 2014 </span></li>
									<!-- /.timeline-label -->
									<!-- timeline item -->
									<li><i class="fa fa-envelope bg-blue"></i>

										<div class="timeline-item">
											<span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

											<h3 class="timeline-header">
												<a href="#">Support Team</a> sent you an email
											</h3>

											<div class="timeline-body">Etsy doostang zoodles disqus
												groupon greplin oooj voxy zoodles, weebly ning heekya
												handango imeem plugg dopplr jibjab, movity jajah plickers
												sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora
												plaxo ideeli hulu weebly balihoo...</div>
											<div class="timeline-footer">
												<a class="btn btn-primary btn-xs">Read more</a> <a
													class="btn btn-danger btn-xs">Delete</a>
											</div>
										</div></li>
									<!-- END timeline item -->
									<!-- timeline item -->
									<li><i class="fa fa-user bg-aqua"></i>

										<div class="timeline-item">
											<span class="time"><i class="fa fa-clock-o"></i> 5
												mins ago</span>

											<h3 class="timeline-header no-border">
												<a href="#">Sarah Young</a> accepted your friend request
											</h3>
										</div></li>
									<!-- END timeline item -->
									<!-- timeline item -->
									<li><i class="fa fa-comments bg-yellow"></i>

										<div class="timeline-item">
											<span class="time"><i class="fa fa-clock-o"></i> 27
												mins ago</span>

											<h3 class="timeline-header">
												<a href="#">Jay White</a> commented on your post
											</h3>

											<div class="timeline-body">Take me to your leader!
												Switzerland is small and neutral! We are more like Germany,
												ambitious and misunderstood!</div>
											<div class="timeline-footer">
												<a class="btn btn-warning btn-flat btn-xs">View comment</a>
											</div>
										</div></li>
									<!-- END timeline item -->
									<!-- timeline time label -->
									<li class="time-label"><span class="bg-green"> 3
											Jan. 2014 </span></li>
									<!-- /.timeline-label -->
									<!-- timeline item -->
									<li><i class="fa fa-camera bg-purple"></i>

										<div class="timeline-item">
											<span class="time"><i class="fa fa-clock-o"></i> 2
												days ago</span>

											<h3 class="timeline-header">
												<a href="#">Mina Lee</a> uploaded new photos
											</h3>

											<div class="timeline-body">
												<img src="img/portfolio/work1.jpg" alt="..." class="margin">
												<img src="img/portfolio/work2.jpg" alt="..." class="margin">
												<img src="img/portfolio/work3.jpg" alt="..." class="margin">
												<img src="img/portfolio/work4.jpg" alt="..." class="margin">
											</div>
										</div></li>
									<!-- END timeline item -->
									<li><i class="fa fa-clock-o bg-gray"></i></li>
								</ul>
							</div>
							<!-- /.tab-pane -->

						</div>
						<!-- /.tab-content -->
					</div>
					<!-- /.nav-tabs-custom -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->

		</section>
		<!-- /.content -->
		
	</div>
	<!-- /.content-wrapper -->
	
</th:block>
</html>
